body {
    font-family: 'Itim', cursive;
    color: #80A905;
    margin: 0;
    text-align: center;
    background-image: url("static/84634-Calvi.jpg");
    /*background-size: 2000px;*/
    background-repeat: no-repeat;
    /*background-position: center;*/
    background-size: cover;
}

header {
    background-size: 100%;
    background-position: center;
    margin: 0;
    text-align: center;
}

header .logo {

    display: inline-block;
    height: 900px;
    position: relative;
    width: 1600px;
}

.logo:after{
    content: "";
    clear: both;
    display: block;
}

.cont {
    /*position: fixed; !* Stay in place *!*/
    /*z-index: 1; !* Sit on top *!*/
    /*left: 20%;*/
    /*top: 2%;*/
    width: 800px; /* Full width */
    height: 600px; /* Full height */
    overflow: auto; /* Enable scroll if needed */

    padding: 50px;
    margin: 20px;
}

.container{
    width: 800px;
    height: 600px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    background: white;
    opacity: 0.9;
    border: 3px solid #A0AED9;

    padding: 16px;
    text-align: center;
}

p, h1, h2{
    display: flex;
    justify-content: center;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}

span{
    font-family: 'Rubik', sans-serif;
    color: #0197D2;
    font-size: xx-large;
    margin: 10px;
    padding: 15px;
}

button{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    width: 50%;
    height: 50px;
    font-family: 'Sofia', cursive;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}
button:after{
    content: "";
    clear: both;
    display: block;
}

#again_btn:hover {
    opacity:0.7;
}

#comment{
    margin-top: 400px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    width: 80%; /* Could be more or less, depending on screen size */

}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

/* Clear floats */
.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

.modal:after, .cont:after{
    content: "";
    clear: both;
    display: block;
}

footer {
    background: azure;

    font-size: 12px;
    padding: 20px 20px;
    text-align: center;
}