a
{
    text-decoration: none;
}

.avatar
{
    position: relative;
    width: 120px;
    height: 120px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    background-image: url(../image/avatar.png);
}

body
{
    margin: 0px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

#design-portfolio-cloud
{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 228px;
    background-image: url(../image/design-portfolio-cloud.png);
    background-position: center;
}

@font-face
{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

footer
{
    position: relative;
    width: 100%;
    background-color: #505050;
}

#footer-container
{
    position: relative;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    background-color: #505050;
}

.footer-column
{
    position: relative;
    width: 360px;
    margin-right: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
    float: left;
}

.footer-column-last
{
    margin-right: 0px;
}

header
{
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #505050;
}

#header-container
{
    position: relative;
    width: 1200px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    background-color: #505050;
}

.icon
{
    position: relative;
    width: 44px;
    height: 44px;
    margin-right: 8px;
    display: inline-block;
}

.icon-last
{
    margin-right: 0px;
}

#icons-container-right
{
    position: relative;
    top: 8px;
    float: right;
}

.icon-email
{
    background-image: url("icons/email.png");
}

.icon-linkedin
{
    background-image: url("icons/linkdin.png");
}

img
{
    border-style: none;
}

.portfolio
{
    position: relative;
    width: 100%;
    height: 600px;
}

#portfolio-1
{
    background-image: url(../image/ground.png);
    background-repeat: repeat-x;
    background-position: center bottom;
    background-color: #00bff3;
}

#portfolio-2
{
    background-color: #f9bf3b;
}

#portfolio-3
{
    background-image: url(../image/design-portfolio-background.jpg);
    background-position: center top;
}

.portfolio-container
{
    position: relative;
    width: 1200px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

#portfolio-container-1
{
    background-image: url(../image/interactive-resume.png);
}

#portfolio-container-2
{
    background-image: url(../image/illustration-portfolio.png);
}

#portfolio-container-3
{
    background-image: url(../image/design-portfolio.jpg);
}

.portfolio-text-body
{
    position: relative;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
}

.portfolio-text-button-arrow
{
    position: relative;
    width: 11px;
    height: 16px;
    margin-right: 8px;
    background-image: url(../image/button-arrow.png);
}

.portfolio-text-button
{
    position: relative;
    display: inline-block;
    padding: 12px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #ffffff;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}

.portfolio-text-container
{
    position: absolute;
    width: 360px;
    top: 50%;
    transform: translateY(-50%);
}

.portfolio-text-container-left
{
    left: 0px;
}

.portfolio-text-container-right
{
    right: 0px;
}

.portfolio-text-title
{
    position: relative;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 70px;
    line-height: 56px;
    margin-bottom: 18px;
}

.text
{
    position: relative;
    font-family: Arial;
    font-size: 14px;
    color: #cccccc;
    line-height: 20px;
    margin-bottom: 18px;
}

.text a
{
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}

.title
{
    position: relative;
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
    top: 12px;
    float: left;
}


.tutorial-banner
{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 114px;
    height: 114px;
    background-image: url(../image/tutorial-banner.png);
}