body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    background: white;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background: #b68760;
    background-image: url("static/terrazzo-polished-stone-floor-wall_26018-1871.jpg");
    background-position: center center;
    background-repeat: repeat;
    background-size: 200px;
    padding: 20px;
    margin-bottom: 10px;
}

#header-title {
    position: relative;
    top: 0px;
    float: left;
    color: #b68760;
}

header a {
    color: #b68760;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin-right: 20px;
}

.icon
{
    position: relative;
    width: 44px;
    height: 44px;
    margin-right: 18px;
    display: inline-block;
}

.icon-last
{
    margin-right: 0px;
}

#icons-container-right
{
    position: relative;
    top: 8px;
    float: right;
}

.icon-resume {
    background-image: url("icons/resume.png");
    background-size: 44px;
}

.icon-email
{
    background-image: url("icons/email.png");
}

.icon-linkedin
{
    background-image: url("icons/linkdin.png");
}

header:after, section:after, .portfolio a {
    content: "";
    clear: both;
    display: block;
}

section {
    /*background: white;*/
    color: #017EC8;
    padding: 20px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    height: 500px;
}

#about {
    /*background-image: url("terrazzo-polished-stone-floor-wall_26018-1871.jpg");*/
    /*background-position: center center;*/
    /*background-repeat: repeat;*/
    /*background-size: 300px;*/
    color: black;
    font-weight: bolder;
    height: 211px;
    padding: 20px;
}

.about-div {
    background: #e8af80;
    width: 600px;
    height: 160px;
    padding: 20px;
    border-radius: 2%;
    box-shadow: #b68760 0 0 10px;
    border: 1px solid white;
}

.portfolio {
    background: #80A905;
    margin: auto;
    width: 400px;
    height: 400px;
    background-image: url("static/v690-sasi-16b_1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 400px;
    border-radius: 2%;
    box-shadow: #b68760 0 0 10px;
    border: 1px solid white;
}

.portfolio a {
    /*position: relative;*/
    /*top: 0;*/
    text-decoration: none;
    color: black;
    font-size: 25px;
}

/* mouse over link */
a:hover {
    color: #b5616f;
    font-weight: 800;
}

#date_picker_section, #trip_picker_section, #trivia_section {
    position: relative;
    top: 0px;
}

footer {
    background: #b68760;
    padding: 10px 20px;
    text-align: center;
    height: 15px;
}